
<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
<title>Font Embedding</title>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel = "stylesheet"
   type = "text/css"
   href = "stylesheet.css" />

</head>
<body>
    <div class="wrapper">
        <div class="div1">
            <img src="pic.jpeg" alt="Snow" width=100% height="300" style="position: absolute;">
           <p style="color:DARKOLIVEGREEN; font-family:courier; font-size:40%; text-align:center; position: absolute; left: 400px;
 top: 150px;">
               Metropolitan state</p>

        </div>

        <div  class="div2">
            <center>Metropolitan State University </center>

<center><p class="p1">Metropolitan State University of Denver
    is a public university in <span style="color:blue;">Denver, Colorado.</span><br/>
           MSU Denver is located on the Auraria Campus,
    along with the University of <span style="color:blue;">Colorado Denver</span>  <br />and the Community College of Denver, in downtown Denver,<br />
            adjacent to Speer Boulevard and Colfax Avenue..</p></center>
        </div>


        <div class="div3">
                        <center>Div 1</center>


        </div>
    </div>
</body>
</html>



