
{% extends "./base_page.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" >
            <div class="panel-heading">
                Search by author
            </div>
            <div class="panel-body" style="padding:2rem">
                <div class="row">
                    <form role="form" enctype="multipart/form-data"   method="post">
                    {% csrf_token %}

                        {% if error %}
                        <div class="form-group">
                            <label  class="alert alert-danger" role="alert">{{error}}</label>
                        </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="txtAuthorFirstName">First Name</label>
                            <input type="text" style="width:50%" class="form-control" name="txtAuthorFirstName" id="txtAuthorFirstName"/>
                        </div>
                        <div class="form-group">
                            <label for="txtAuthorLastName">Last Name</label>
                            <input type="text" style="width:50%" class="form-control" name="txtAuthorLastName" id="txtAuthorLastName"/>
                        </div>
                        <button class="btn btn-default" type="submit" value="Search" id="button_search">Search</button>

                         {% if count %}
                            <div class="form-group">
                            <label  class="alert alert-info" role="alert">Number of results found {{count}}.</label>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
                        <div class="panel-heading">
                            Keywords Search
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Keyword part</th>
                                            <th>count</th>
                                            <th>Literature</th>
                                            <th>Place</th>

                                        </tr>
                                    </thead>
                                    <tbody>


                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

{% endblock %}